* {
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #343434;
}

#bones {
    font-size: xx-large;
    padding-top: 10px;
}
#buttons {
    text-align: right;
}
#skeletonDemographic {
    font-size: x-large;
}
#skeletonMarket {
    display: block;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
#theAlmightyBone {
    display: block;
}
#upgrades * {
    display: block;
    margin-top: 1%;
    height: fit-content;
    padding: 0.5em;
}

.button {
    background-color: #454545;
    font-size: 1em;
    height: fit-content;
    padding: 0.75em;
    color: #ffffff;
}

.tab {
    overflow: hidden;
    background-color: #343434;
    color: #ffffff;
}
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #ffffff;
}
.tab button:hover {
    background-color: #454545;
}
.tab button.active {
    background-color: #404040;
    color:#ffffff;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}